In [2]:
import pandas as pd
import merge_clean_data

In [3]:
merge_clean_data.merge_data(files_dir = r'./processed_files/')
data = merge_clean_data.data

Loading file 2021-Q1_seconds.csv...
Loading file 2021-Q2_seconds.csv...
Loading file 2021-Q3_seconds.csv...
Loading file 2021-Q4_seconds.csv...
Loading file 2022-Q1_seconds.csv...
Loading file 2022-Q2_seconds.csv...
Loading file 2022-Q3_seconds.csv...
Loading file 2022-Q4_seconds.csv...
Loading file 2023-Q1_seconds.csv...
Loading file 2023-Q2_seconds.csv...
Loading file 2023-Q3_seconds.csv...

In [4]:
df = pd.concat(data, ignore_index=True, join='inner')
df['Time'] = pd.to_datetime(df['Time'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85708811 entries, 0 to 85708810
Data columns (total 2 columns):
 #   Column  Dtype
---  ------  -----
 0   Time    datetime64[ns]
 1   Value   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.3 GB

In [5]:
df.loc[~df['Value'].between(49.5,50.5)]

                        Time  Value
10782    2021-01-01 02:59:42    0.0
10783    2021-01-01 02:59:43    0.0
10784    2021-01-01 02:59:44    0.0
10785    2021-01-01 02:59:45    0.0
10786    2021-01-01 02:59:46    0.0
...                      ...    ...
85708806 2023-09-29 23:59:56    0.0
85708807 2023-09-29 23:59:57    0.0
85708808 2023-09-29 23:59:58    0.0
85708809 2023-09-29 23:59:59    0.0
85708810 2023-09-30 00:00:00    0.0

[2797396 rows x 2 columns]

In [6]:
df_over = df[df['Value'] > 50.1]
count_over_50 = len(df_over)
print("The number of rows with 'Value' over 50.1 is:", count_over_50)

The number of rows with 'Value' over 50.1 is: 888070

In [7]:
df_under = df[df['Value'] < 49.9]
count_under_50 = len(df_under)
print("The number of rows with 'Value' under 49.9 is:", count_under_50)

The number of rows with 'Value' under 49.9 is: 3509115

In [8]:
df.set_index('Time', inplace=True)
time_window = '5S'
df['Over_50.1_over_time'] = df['Value'].rolling(time_window).max() > 50.1
df['Under_49.9_over_time'] = df['Value'].rolling(time_window).min() < 49.9
print(df[['Value', 'Over_50.1_over_time', 'Under_49.9_over_time']])

                      Value  Over_50.1_over_time  Under_49.9_over_time
Time
2021-01-01 00:00:00  49.999                False                 False
2021-01-01 00:00:01  49.999                False                 False
2021-01-01 00:00:02  49.997                False                 False
2021-01-01 00:00:03  49.995                False                 False
2021-01-01 00:00:04  49.994                False                 False
...                     ...                  ...                   ...
2023-09-29 23:59:56   0.000                False                  True
2023-09-29 23:59:57   0.000                False                  True
2023-09-29 23:59:58   0.000                False                  True
2023-09-29 23:59:59   0.000                False                  True
2023-09-30 00:00:00   0.000                False                  True

[85708811 rows x 3 columns]

In [9]:
print(len(df[df['Over_50.1_over_time'] == True]))

1086195

In [10]:
print(df[df['Under_49.9_over_time'] == True])

                      Value  Over_50.1_over_time  Under_49.9_over_time
Time
2021-01-01 01:02:07  49.899                False                  True
2021-01-01 01:02:08  49.900                False                  True
2021-01-01 01:02:09  49.901                False                  True
2021-01-01 01:02:10  49.900                False                  True
2021-01-01 01:02:11  49.902                False                  True
...                     ...                  ...                   ...
2023-09-29 23:59:56   0.000                False                  True
2023-09-29 23:59:57   0.000                False                  True
2023-09-29 23:59:58   0.000                False                  True
2023-09-29 23:59:59   0.000                False                  True
2023-09-30 00:00:00   0.000                False                  True

[3704795 rows x 3 columns]