In [1]:
import pandas as pd
import os
from concat_quoter_utc_toFeather import ConcatQuoterUtcToFeather

In [2]:
# Folder for binary df
folder_name = 'temp_df'
file_name = 'df.feather'
file_path = os.path.join(folder_name, file_name)

if not os.path.exists(file_path):
    create_feather_file = ConcatQuoterUtcToFeather(folder_name, file_name)
    create_feather_file.concat_quoter_utc()

In [3]:
df = pd.read_feather(file_path)

In [11]:
print (df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85705211 entries, 0 to 85705210
Data columns (total 2 columns):
 #   Column  Dtype
---  ------  -----
 0   Time    datetime64[ns, Europe/Stockholm]
 1   Value   float64
dtypes: datetime64[ns, Europe/Stockholm](1), float64(1)
memory usage: 1.3 GB
None

In [12]:
display(df.head(20))

                        Time   Value
0  2020-12-31 23:00:00+01:00  49.999
1  2020-12-31 23:00:01+01:00  49.999
2  2020-12-31 23:00:02+01:00  49.997
3  2020-12-31 23:00:03+01:00  49.995
4  2020-12-31 23:00:04+01:00  49.994
5  2020-12-31 23:00:05+01:00  49.991
6  2020-12-31 23:00:06+01:00  49.989
7  2020-12-31 23:00:07+01:00  49.987
8  2020-12-31 23:00:08+01:00  49.985
9  2020-12-31 23:00:09+01:00  49.982
10 2020-12-31 23:00:10+01:00  49.977
11 2020-12-31 23:00:11+01:00  49.972
12 2020-12-31 23:00:12+01:00  49.969
13 2020-12-31 23:00:13+01:00  49.967
14 2020-12-31 23:00:14+01:00  49.963
15 2020-12-31 23:00:15+01:00  49.965
16 2020-12-31 23:00:16+01:00  49.961
17 2020-12-31 23:00:17+01:00  49.962
18 2020-12-31 23:00:18+01:00  49.961
19 2020-12-31 23:00:19+01:00  49.961

In [13]:
display(df.loc[(~df['Value'].between(49.5,50.5)) & (df['Value'] != -1)])

                              Time     Value
20952261 2021-09-02 12:04:19+02:00  49.47000
20952262 2021-09-02 12:04:20+02:00  49.48900
20952263 2021-09-02 12:04:21+02:00  49.44600
51135191 2022-08-21 20:13:05+02:00  50.50240
54074178 2022-09-24 20:36:12+02:00  49.42628
54074179 2022-09-24 20:36:13+02:00  49.45048
54074180 2022-09-24 20:36:14+02:00  49.45205
54074181 2022-09-24 20:36:15+02:00  49.47887
66503407 2023-02-17 16:09:59+01:00  49.46900
66503408 2023-02-17 16:10:00+01:00  49.43100
66503409 2023-02-17 16:10:01+01:00  49.43200
66503410 2023-02-17 16:10:02+01:00  49.44700
66503411 2023-02-17 16:10:03+01:00  49.46300
66503412 2023-02-17 16:10:04+01:00  49.49100
72254416 2023-04-26 06:40:07+02:00  49.43386
72254417 2023-04-26 06:40:08+02:00  49.32441
72254418 2023-04-26 06:40:09+02:00  49.31911
72254419 2023-04-26 06:40:10+02:00  49.35835
72254420 2023-04-26 06:40:11+02:00  49.38340
72254421 2023-04-26 06:40:12+02:00  49.43063
72254422 2023-04-26 06:40:13+02:00  49.46975

In [14]:
df_over = df[(df['Value'] > 50.1) & (df['Value'] != -1)]
count_over_50 = len(df_over)
print("The number of rows with 'Value' over 50.1 is:", count_over_50)

The number of rows with 'Value' over 50.1 is: 888399

In [15]:
df_under = df[(df['Value'] < 49.9) & (df['Value'] != -1)]
count_under_50 = len(df_under)
print("The number of rows with 'Value' under 49.9 is:", count_under_50)

The number of rows with 'Value' under 49.9 is: 711740

::::For control:::

In [16]:
df.set_index('Time', inplace=True)

In [19]:
filtered_date = df[df.index.date == pd.to_datetime('2021-09-02').date()]

In [21]:
filtered_date[(filtered_date.index.hour == 11)]

                            Value
Time
2021-09-02 11:00:00+02:00  50.051
2021-09-02 11:00:01+02:00  50.051
2021-09-02 11:00:02+02:00  50.050
2021-09-02 11:00:03+02:00  50.049
2021-09-02 11:00:04+02:00  50.048
...                           ...
2021-09-02 11:59:55+02:00  49.985
2021-09-02 11:59:56+02:00  49.984
2021-09-02 11:59:57+02:00  49.976
2021-09-02 11:59:58+02:00  49.974
2021-09-02 11:59:59+02:00  49.968

[3600 rows x 1 columns]

In [ ]:
df.set_index('Time', inplace=True)
time_window = '5S'
df['Over_50.1_over_time'] = df['Value'].rolling(time_window).max() > 50.1
df['Under_49.9_over_time'] = df['Value'].rolling(time_window).min() < 49.9
print(df[['Value', 'Over_50.1_over_time', 'Under_49.9_over_time']])

In [ ]:
print(len(df[df['Over_50.1_over_time'] == True]))

In [ ]:
print(df[df['Under_49.9_over_time'] == True])